:root {
    --board-size: 300px;
    --background-color: white;
}

body {
    margin: 0;
    /* box-sizing: border-box; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
}

/* HEADER  --------------------------------------------------------- */
header {
    text-align: center;
    margin-bottom: 20px;
}



.ai-checkbox {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30%;
}

.cheaterArea {
    position: absolute;
    left: 25%;
    top: 15%;
    font-size: 5rem;
    color: red;
    transform: rotate(-35deg);
    opacity: 0.1;
}

/* MAIN POINTS ------------------------------------------------------- */
main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board-with-points {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.points-area {
    margin-bottom: 1rem;
}

.points {
    font-size: 3rem;
}

#pointsPlayer {
    color: green;
}

#pointsAI {
    color: red;
}

/* AREA ---------------------------------------------------------------- */
.area {
    color: #000C;
    display: grid;
    width: var(--board-size);
    height: var(--board-size);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    overflow: hidden;
}

.area>div {
    position: relative;
    outline: 1px solid black;

    display: grid;
    place-content: center;
    font-size: 3rem;
    /* color: black; */
    transition: all 0.5s ease-in-out;
}

.area>div:hover::after {
    position: absolute;
    content: '';
    background-color: #0001;
    color: white;
    inset: 10px;
    cursor: pointer;
}

/* RESULTS ---------------------------------------------------------- */
.results {
    margin: 2rem 0;
    font-size: 2rem;
    text-align: center;
}

button {
    display: inline-block;
    margin-inline: auto;
    padding: .5rem 1rem;
}

#start {
    background-color: lightgreen;
}

.buttons {
    text-align: center;
}

#reset {
    background-color: lightpink;
}

/* VERSIONS ------------------------------------------------------------- */
ul> :nth-child(1) {
    margin-top: 1rem;
}

ul>span {
    display: block;
    font-size: 0.9rem;
    margin: 5px 0px;
}

/* MOBILE VER ------------------------------------------------------------- */

@media only screen and (max-width: 700px) {
    body {
        background-color: white;
        border: 5px solid #0001;
    }

    header>h1 {
        display: none;
    }

    .ai-checkbox {
        white-space: nowrap;
        margin-left: 0;
    }

}