:root {
    --board-size: 300px;
    --background-color: white;
}

/* HSL COLORS! */

body {
    margin: 0;
    /* box-sizing: border-box; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
}

/* HEADER  --------------------------------------------------------- */
header {
    text-align: center;
    margin-bottom: 10px;
}

.radio-checkbox {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20%;
}


.radio-checkbox div {
    margin: 2px 10px;
}

.radio-checkbox input {
    vertical-align: sub;
    margin: 0 10px;
    width: 1.5rem;
    height: 1.5rem;
}

/* MAIN POINTS ------------------------------------------------------- */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board-with-points {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.points {
    font-size: 3rem;
}

#pointsPlayer {
    color: green;
}

#pointsAI {
    color: red;
}

.total-div {
    margin-bottom: 0.5rem;
    opacity: 0.7;
}

#total {
    /* color: blue; */
    font-weight: bold;
}

/* RESULTS ---------------------------------------------------------- */
.result {
    position: absolute;
    bottom: -3rem;
    left: 0rem;
    right: 0rem;
    /* background-color: red; */
    font-size: 2rem;
    text-align: center;
}

/* SLIDER ----------------------------------------------------------- */

.slider {
    /* display: none; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.slider #AIvsAI {
    font-size: 1.2rem;
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: middle;
    margin-bottom: .5rem;
    margin-right: .5rem;
}


#AIspeed {
    opacity: 0.7
}

#AIspeed:hover {
    opacity: 1;
}

#sliderOutput {
    margin-top: -0.5rem;
}

/* AREA ---------------------------------------------------------------- */
.area {
    color: #000C;
    display: grid;
    width: var(--board-size);
    height: var(--board-size);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    overflow: hidden;
}

.area>div {
    position: relative;
    outline: 1px solid black;

    display: grid;
    place-content: center;
    font-size: 3rem;
    /* transition: all 0.5s ease-in-out; */
}

.area>div:hover::after {
    position: absolute;
    content: '';
    background-color: #0001;
    inset: 10px;
    cursor: pointer;
}



/* VERSIONS ------------------------------------------------------------- */
.versions {
    margin-top: 4rem;
    opacity: 0.7;
}

.spec-info {
    display: block;
    text-align: center;
}

ul> :nth-child(1) {
    margin-top: 1rem;
}

ul li {
    margin-bottom: 5px;
}

ul>span {
    display: block;
    font-size: 0.9rem;
    margin: 5px 0px;
}

footer {
    padding-bottom: 2rem;
}

/* MOBILE VER ------------------------------------------------------------- */

@media only screen and (max-width: 700px) {
    body {
        background-color: white;
        border: 15px solid #0001;
    }

    header>h1 {
        display: none;
    }

    .radio-checkbox {
        white-space: nowrap;
        margin-left: 0;
    }

    .result {
        white-space: nowrap;
    }
}