:root {
    --board-size: 300px;
    --background-color: white;
}

body {
    margin: 0;
    /* box-sizing: border-box; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
}

header {
    text-align: center;
    margin-bottom: 20px;
    /* background-color: bisque; */
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cheaterArea {
    position: absolute;
    left: 25%;
    top: 15%;
    font-size: 5rem;
    color: red;
    transform: rotate(-35deg);
    opacity: 0.1;
}

.board-with-points {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.points-area {
    margin-bottom: 1rem;
}

.points {
    font-size: 3rem;
}

#pointsPlayer {
    color: green;
}

#pointsAI {
    color: red;
}


aside {
    width: 150px;
    margin-inline: 1rem;
    text-align: center;
    font-size: 2rem;
}

.ai-checkbox {
    font-size: 1.5rem;

}

#letMeWin {
    vertical-align: bottom;
    width: 1.5rem;
    height: 1.5rem;
}

.name-for-player {
    color: green;
    font-weight: bold;
}

.name-for-AI {
    color: blue;
    font-weight: bold;
}





.area {
    display: grid;
    width: var(--board-size);
    height: var(--board-size);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    overflow: hidden;
}

.area>div {
    position: relative;
    outline: 1px solid black;

    display: grid;
    place-content: center;
    font-size: 3rem;
    /* color: black; */
}

.area>div:hover::after {
    position: absolute;
    content: '';
    background-color: #0001;
    color: white;
    inset: 10px;
    cursor: pointer;
}

.results {
    margin: 2rem 0;
    font-size: 2rem;
    text-align: center;
}

button {
    display: inline-block;
    margin-inline: auto;
    padding: .5rem 1rem;
}

#start {
    background-color: lightgreen;
}

.buttons {
    text-align: center;
}

#reset {
    background-color: lightpink;
}

.nice {
    transition: 1s all;
}

ul> :nth-child(1) {
    margin-top: 1rem;
}

ul>span {
    display: block;
    font-size: 0.9rem;
    margin: 5px 0px;
}



@media only screen and (max-width: 700px) {
    body {
        background-color: white;
    }

}